/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/09/2015, 13:40:30
    Author     : Maurílio
*/
.visible{
    visibility: hidden;
}

.align--right{
    text-align: right;
}

#align--left{
    text-align: left;
}

#demo-menu-lower-left {
    margin-left: 50%;
}

.mdl-textfield-margem{
    width: 90%;
    margin: 0 auto;
}

body {
    background: #fafafa;
    position: relative;
}

.card-wide.mdl-card {
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card-complete.mdl-card {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.demo-card-wide.mdl-card {
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
}
.demo-card-wide > .mdl-card__title {
    height: 176px;
    background: url('../assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 10; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

@-webkit-keyframes animatetop {
    from {bottom: -30px; opacity:0} 
    from {right: -30px; opacity:0} 
    to {bottom:0; opacity:1}
    to {right:0; opacity:1}

}

@keyframes animatetop {
    from {bottom: -100px; opacity:0} 
    from {right: -100px; opacity:0} 
    to {bottom:0; opacity:1}
    to {right:0; opacity:1}
}

/* Modal Content/Box */
.modal-content {
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.3s;
    animation-name: animatetop;
    animation-duration: 0.3s;
    position: relative;
    margin: 0 auto; /* 15% from the top and centered */
    width: 100%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}